<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="Modules">
            <!-- Include all module tests recursively -->
            <directory suffix="Test.php">tests/Module</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>